.cart-items-count-calc {
    padding: 10px;
    height: 35px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    gap: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cart-items-count-calc button {
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-bottom: 15px;
}

.cart-total span {
    font-size: 15px;
}

.cart-total h3 {
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.modal-last-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 85%;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 500;
    gap: 20px;
}

@keyframes cartLastInfoAnimation {
    0% {
        width: 0%;
        left: 50px;
    }
    100% {
        width: 100%;
        left: 0;
    }
}

.modal-last-info  p {
    cursor: pointer;
    transition: .3s;
    position: relative;
    color: black;
}

.modal-last-info  p:hover {
    color: red;
}

.modal-last-info p::after {
    content:  '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.7px;
    background-color: black;
    transition: .3s;

}

.modal-last-info  p:hover::after {
    background-color: red;
    animation: cartLastInfoAnimation .3s forwards;
}

.cart-details {
    width: 44% !important;
}

.cart-quantity {
    padding-left: 20px;
}

.cart-details > span {
    padding-right: 80px;
}

.cart-subtotal {
    padding-left: 50px;
}

.cart-remove-btn {
    border: none;
    background-color: transparent;
}

.cart-product-info {
    width: 50% !important;
}

.cart-product-info span {
    padding-left: 20px;
}

.cart-product-info span:first-child {
    text-align: center;
}

.cart-component-last-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.checkout {
    flex-direction: column;
}

.checkout-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.checkout-info h3 {
    color: red;
}